.sbar{
  position: fixed;
  top:0;
  min-height: 100vh
}


.sbar-heading{
  padding: 20px 55px;
      font-size: 25px;
      color: #4456ac;
      font-weight: 700;
border-bottom: solid #e2dcdc 1px;
}

.navbar{
padding-top: 50px;
}

.cleft{
  margin-left: 220px;
margin-top: 20px;
}

.sbar_state{
  padding:25px !important
}
