

  <div class="d-flex sbar" id="wrapper">


    <div class="bg-light border-right border-top" id="sidebar-wrapper">
      <div class="sbar-heading">Dvara</div>

      <div class="list-group list-group-flush">
        <a href="{% url 'upload_data' %}" class="list-group-item list-group-item-action bg-light sbar_state">Upload Data</a>

        <a href="{% url 'create_item' %}" class="list-group-item list-group-item-action bg-light sbar_state">Submit Data</a>

        <a href="{% url 'order_list' %}" class="list-group-item list-group-item-action bg-light sbar_state">Order List</a>

      </div>
    </div>

    </div>
